<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>New User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- CSS EI TOIMI -->
    <!-- ohje: https://grokonez.com/java-integration/integrate-springboot-bootstrap-jquery -->
    <link type="text/css" rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>       
	<!-- VANHA: <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> -->  
	  
</head>
<body>
	<h1>Create User Account</h1>
     <div class="col-md-4">
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<div>
				<label> Username:<input type="text" th:field="*{username}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">* invalid username</p>	
			</div>
			<div>
				<label> Password:<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">* invalid password</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">* passwords doesn't match </p>	
			</div>
			
			<input type="submit" class="btn btn-success" value="Signup"></input>		
		</form>
	</div>
	
	<!-- ohje: https://grokonez.com/java-integration/integrate-springboot-bootstrap-jquery -->
    <script src="/jquery/jquery-3.3.1.min.js"></script>    
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>